<script
  type="application/json"
  data-section-type="dynamic-featured-products"
  data-section-id="{{ section.id }}">
</script>

{%- assign products_per_row = section.settings.products-per-row | times: 1 -%}

{%- assign product_count = products_per_row | times: section.settings.products-row-count -%}

{% assign product_item_style = section.settings.product_item_style %}

{%- if section.settings.enable_image_crop and product_item_style != 'natural' -%}
  {%- assign product_item_style = product_item_style | prepend: 'cropped-' -%}
{%- endif -%}

<h4 class="section-title">{{ section.settings.title | escape }}</h4>
{%- include 'product-highlights',
  products: collections[section.settings.collection].products,
  product_count: product_count,
  product_item_style: product_item_style,
  use_quickshop: section.settings.enable_product_quickshop,
  products_per_row: products_per_row,
  products_row_count: section.settings.products-row-count,
  product_emphasize: section.settings.product_emphasize
-%}

{% schema %}
{
  "name": "Featured collection",
  "class": "section-featured-products",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "id": "product_item_style",
      "type": "select",
      "label": "Product aspect ratio",
      "options": [
        { "value": "natural", "label": "Natural" },
        { "value": "small", "label": "Short (4:3)" },
        { "value": "medium", "label": "Square (1:1)" },
        { "value": "large", "label": "Tall (2:3)" }
      ],
      "default": "natural"
    },
    {
      "type": "checkbox",
      "id": "enable_image_crop",
      "label": "Enable image crop",
      "info": "If disabled, white space will be applied around the image. Has no effect when media aspect ratio is set to natural.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_grid_show_second_image",
      "label": "Show second product image on hover",
      "default": false
    },
    {
      "id": "enable_product_quickshop",
      "type": "checkbox",
      "label": "Enable product quickshop",
      "default": false
    },
    {
      "id": "products-row-count",
      "type": "range",
      "label": "Number of rows",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 1
    },
    {
      "id": "products-per-row",
      "type": "range",
      "label": "Products per row",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "id": "product_emphasize",
      "type": "checkbox",
      "label": "Emphasize product",
      "info": "Creates an alternate layout on larger screens",
      "default": true
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Featured collection"
    }
  ]
}

{% endschema %}